# ----------------------------------------
# FLUTTER / DART BUILDS
# ----------------------------------------
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png
*.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# Flutter build outputs (HUGE FILES – MUST IGNORE)
*.apk
*.aar
*.aab
*.dill
*.hprof
*.lock

# ----------------------------------------
# ANDROID
# ----------------------------------------
**/android/.gradle/
**/android/.idea/
**/android/local.properties
**/android/key.properties
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/android/build/
**/android/app/build/
**/android/.cxx/

# Native Android build outputs (VERY LARGE)
**/android/**/merged_native_libs/**/
**/android/**/intermediates/**/

# ----------------------------------------
# iOS
# ----------------------------------------
**/ios/Pods/
**/ios/.symlinks/
**/ios/build/
**/ios/Flutter/.last_build_id
**/ios/Runner.xcodeproj/*
**/ios/Runner.xcworkspace/*
*.xcworkspace
*.xcodeproj
*.xcuserdata
*.xcuserstate
*.mode1v3
*.mode2v3
*.pbxuser

# ----------------------------------------
# WINDOWS / MAC / LINUX
# ----------------------------------------
**/linux/build/
**/macos/build/
**/windows/build/

# ----------------------------------------
# WEB
# ----------------------------------------
lib/generated/
assets/generated/
*.js.map

# ----------------------------------------
# VSCODE / INTELLIJ
# ----------------------------------------
*.iml
*.ipr
*.iws
.idea/
.vscode/

# ----------------------------------------
# CRASH / TEMP FILES
# ----------------------------------------
*.log
*.pid
*.pid.lock
*.tmp
*.temp
*.old
*.orig
*.rej

# ----------------------------------------
# FIREBASE
# ----------------------------------------
.firebase/
firebase-debug.log*
firebase-debug.*.log*
firebase-debug.log*
google-services.json
GoogleService-Info.plist
.dataconnect

# ----------------------------------------
# NODE / NPM / YARN
# ----------------------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache
.yarn-integrity
.env
.dataconnect
.bower_components
.lock-wscript
.grunt
.nyc_output
coverage
bower_components
lib-cov
build/Release

# ----------------------------------------
# ARCHIVES
# ----------------------------------------
*.tgz
*.zip
*.7z
*.tar.gz

# ----------------------------------------
# SYSTEM FILES
# ----------------------------------------
.DS_Store
Thumbs.db
